/* Footer */

footer{
    background-color: #2C343E;
    width: 1360px;
    
}

.footer_navbar{
    margin-left: 85px;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 34px 0;
}