.section1{
    background-image: url(../img/main_section1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 1320px;
    height: 450px;
    border-radius: 10px;
    margin-bottom: 164px;

    &_info{
        padding-top: 60px;
        padding-left: 85px;
    }

    &_info_title{
        font-family: 'Fraunces', serif;
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        color: #FEFCF7;
        margin-bottom: 32px;
    }

    &_info_paragraph{
        font-family: 'Barlow' , sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #FEFCF7;
        width: 445px ; 
    }
}

//section 1 end

.section2{
    margin-bottom: 189px;
    width: 1280px;
    height: 653px;
    background: #2C343E;
    border-radius: 10px;
    margin-left: -0px;

    &_info{
        padding-top: 104px;
        margin-left: 85px;
    }

    &_cards{
        display: flex;
        justify-content: space-between;
        width: 1145px;
        margin-bottom: 64px;
    }
    
    &_card{
        display: flex;
        flex-direction: column;
        padding-top: 82px;
        position: relative;
    }
    
    &_card_number{
        font-family: 'Fraunces', serif;
        font-style: normal;
        font-weight: 900;
        font-size: 72px;
        color: #FDD6BA;
        margin: 0;
    }
    
    &_card_title{
        font-family: 'Fraunces', serif;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        color: #FEFCF7;
        width: 255px;
    }
    
    &_card_description{
        width: 285px;
        font-family: 'Barlow', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #FEFCF7;
        line-height: 26px;
    }
}

.border{
    border-top: 3px solid #FDD6BA;
    width: 430px;
}

.circle1::after{
    content: "";

    position: absolute;
    height: 31px;
    width: 31px;
    left: -15px;
    top: -16px;
    border-radius: 0px;

    background: inherit;
    border: 2px solid #0E8784;
    box-sizing: border-box;
    border-radius: 50%;
}

.circle2::after{
    content: "";

    position: absolute;

    height: 31px;
    width: 31px;
    left: 415px;
    top: -16px;
    border-radius: 0px;

    background: inherit;
    border: 2px solid #0E8784;
    box-sizing: border-box;
    border-radius: 50%;
}

//section3 end